# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [56]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [57]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("Weather_Database /WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Thompson,CA,55.7435,-97.8558,24.96,93,100,6.91,light snow
1,1,Rikitea,PF,-23.1203,-134.9692,72.88,79,47,13.62,scattered clouds
2,2,Vardo,NO,70.3705,31.1107,31.98,86,75,17.27,broken clouds
3,3,Busselton,AU,-33.6500,115.3333,62.47,57,68,8.08,broken clouds
4,4,Truro,GB,50.2653,-5.0544,60.08,88,75,19.57,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [58]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your desired minimum temperature for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 67
What is your desired maximum temperature for your trip? 98

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [59]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,72.88,79,47,13.62,scattered clouds
6,6,Avarua,CK,-21.2078,-159.7750,77.05,57,100,9.22,overcast clouds
8,8,Avera,US,33.1940,-82.5271,67.37,52,100,7.87,overcast clouds
15,15,Cap Malheureux,MU,-19.9842,57.6142,72.46,75,11,7.00,few clouds
17,17,Launceston,AU,-41.4500,147.1667,69.44,64,100,24.16,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
701,701,Ipixuna,BR,-1.7625,-48.8043,73.89,96,100,4.21,overcast clouds
703,703,Kloulklubed,PW,7.0419,134.2556,84.00,78,100,20.15,overcast clouds
706,706,Bitung,ID,1.4451,125.1824,90.45,69,76,8.14,broken clouds
709,709,Ormara,PK,25.2088,64.6357,79.48,65,0,1.05,clear sky
712,712,Ramhormoz,IR,31.2800,49.6035,79.81,20,26,5.26,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [60]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,72.88,79,47,13.62,scattered clouds
6,6,Avarua,CK,-21.2078,-159.7750,77.05,57,100,9.22,overcast clouds
8,8,Avera,US,33.1940,-82.5271,67.37,52,100,7.87,overcast clouds
15,15,Cap Malheureux,MU,-19.9842,57.6142,72.46,75,11,7.00,few clouds
17,17,Launceston,AU,-41.4500,147.1667,69.44,64,100,24.16,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
701,701,Ipixuna,BR,-1.7625,-48.8043,73.89,96,100,4.21,overcast clouds
703,703,Kloulklubed,PW,7.0419,134.2556,84.00,78,100,20.15,overcast clouds
706,706,Bitung,ID,1.4451,125.1824,90.45,69,76,8.14,broken clouds
709,709,Ormara,PK,25.2088,64.6357,79.48,65,0,1.05,clear sky
712,712,Ramhormoz,IR,31.2800,49.6035,79.81,20,26,5.26,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [61]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df

               City Country  Max Temp Current Description      Lat       Lng
1           Rikitea      PF     72.88    scattered clouds -23.1203 -134.9692
6            Avarua      CK     77.05     overcast clouds -21.2078 -159.7750
8             Avera      US     67.37     overcast clouds  33.1940  -82.5271
15   Cap Malheureux      MU     72.46          few clouds -19.9842   57.6142
17       Launceston      AU     69.44     overcast clouds -41.4500  147.1667
..              ...     ...       ...                 ...      ...       ...
701         Ipixuna      BR     73.89     overcast clouds  -1.7625  -48.8043
703     Kloulklubed      PW     84.00     overcast clouds   7.0419  134.2556
706          Bitung      ID     90.45       broken clouds   1.4451  125.1824
709          Ormara      PK     79.48           clear sky  25.2088   64.6357
712       Ramhormoz      IR     79.81    scattered clouds  31.2800   49.6035

[317 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [62]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,72.88,scattered clouds,-23.1203,-134.9692,
6,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,
8,Avera,US,67.37,overcast clouds,33.1940,-82.5271,
15,Cap Malheureux,MU,72.46,few clouds,-19.9842,57.6142,
17,Launceston,AU,69.44,overcast clouds,-41.4500,147.1667,
21,Aswan,EG,68.16,clear sky,24.0934,32.9070,
22,Ippy,CF,67.91,overcast clouds,6.2679,21.2247,
23,Iracoubo,GF,79.45,broken clouds,5.4802,-53.2011,
25,Gorontalo,ID,84.29,overcast clouds,0.5412,123.0595,
28,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [63]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [64]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [65]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,72.88,scattered clouds,-23.1203,-134.9692,People ThankYou
6,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
8,Avera,US,67.37,overcast clouds,33.1940,-82.5271,
15,Cap Malheureux,MU,72.46,few clouds,-19.9842,57.6142,Pereybere Hotel & Spa
17,Launceston,AU,69.44,overcast clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston
...,...,...,...,...,...,...,...
701,Ipixuna,BR,73.89,overcast clouds,-1.7625,-48.8043,Chalé do Mato
703,Kloulklubed,PW,84.00,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
706,Bitung,ID,90.45,broken clouds,1.4451,125.1824,K2 Lembeh
709,Ormara,PK,79.48,clear sky,25.2088,64.6357,Kenara Colony House for Rent
712,Ramhormoz,IR,79.81,scattered clouds,31.2800,49.6035,کافی نت کاریزما

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [73]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,72.88,scattered clouds,-23.1203,-134.9692,People ThankYou
6,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
8,Avera,US,67.37,overcast clouds,33.1940,-82.5271,
15,Cap Malheureux,MU,72.46,few clouds,-19.9842,57.6142,Pereybere Hotel & Spa
17,Launceston,AU,69.44,overcast clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston
...,...,...,...,...,...,...,...
701,Ipixuna,BR,73.89,overcast clouds,-1.7625,-48.8043,Chalé do Mato
703,Kloulklubed,PW,84.00,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
706,Bitung,ID,90.45,broken clouds,1.4451,125.1824,K2 Lembeh
709,Ormara,PK,79.48,clear sky,25.2088,64.6357,Kenara Colony House for Rent
712,Ramhormoz,IR,79.81,scattered clouds,31.2800,49.6035,کافی نت کاریزما

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [67]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [68]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [69]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [70]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 72.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd> </dd>\n<dt>City</dt><dd>Avera</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pereybere Hotel & Spa</dd>\n<dt>City</dt><dd>Cap Malheureux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>few clouds and 72.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Grand Chancellor Launceston</dd>\n<dt>City</dt><dd>Launceston</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuba Nile</dd>\n<dt>City</dt><dd>Aswan</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd> </dd>\n<dt>City</dt><dd>Ippy</dd>\n<dt>Country</dt><dd>CF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Gîte d’Iracoubo</dd>\n<dt>City</dt><dd>Iracoubo</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maqna Hotel by Prasanthi</dd>\n<dt>City</dt><dd>Gorontalo</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.56 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [71]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -23.1203 -134.9692
6  -21.2078 -159.7750
8   33.1940  -82.5271
15 -19.9842   57.6142
17 -41.4500  147.1667
21  24.0934   32.9070
22   6.2679   21.2247
23   5.4802  -53.2011
25   0.5412  123.0595
28 -21.2000 -175.2000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [75]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))